.copy {
    .fontstyle-01;
    font-size: @fontsizeMedium;  
    margin-bottom: 10px;

    &--highlight {
        font-size: @fontsizeMediumLarge;  
        color: @green;
        line-height: 1.25em;

        @media (min-width: 768px){
            font-size: @fontsizeLarge;
        }
    }

    &--link {
        text-decoration: none;
        color: green;
    }
}