.footer {
    display: flex;
    padding: 0 5%;
    height: 15vh;
    width: 90%;
    align-items: center;
    /* box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.4); */

    @media (min-width: 768px){
        height: 10vh;
    }
    
    @media (min-width: 1024px){
        padding: 0 10%;
        width: 80%;
    }

    &__item {
        .fontstyle-01;
        font-size: @fontsizeSmall;
        white-space: nowrap;
        text-decoration: none;
        cursor: pointer;

        @media (min-width: 1024px){
            &::after {
                content: "|";
                margin-left: 10px;
                margin-right:7px;
                color: @green;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    &--highlight {
        font-weight: normal;
    }

    &--link {
        color: @green;
    }
}