//fonts
body {
    background: white;
}
.fontstyle-01 {
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    font-weight: lighter;
    color:black;
}

@fontSizeExtraLarge: 29px;
@fontsizeLarge: 24px;
@fontsizeMediumLarge: 20px;
@fontsizeMedium: 16px;
@fontsizeSmall: 13px;

//colors
@green: green;