.header {
    position: fixed;
    display: flex;
    padding: 0 5%;
    height: 15vh;
    width: 90%;
    background: white;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1024px){
        padding: 0 10%;
        width: 80%;
        flex-direction: row-reverse;
        background: transparent;
    }
}