.h1 {
    .fontstyle-01;
    font-size: @fontsizeMediumLarge;
    margin-bottom: 10px;
    
    &--bold {
        font-weight: normal;
    }
    @media(min-width:768px){
        font-size: @fontsizeLarge;
    }
}

.h2 {
    .fontstyle-01;
    font-size: @fontsizeMedium;
    font-weight: normal;
    color: @green;
}