.hero {
    background-image: url(../images/herobg.png), linear-gradient(to left, #dedede, rgba(255, 255, 255, 0));

    &__inner {
        padding: 15vh 0;
    }

    &__headline {
        line-height: 1.25em;
        @media(min-width:768px){
            font-size: @fontSizeExtraLarge;
        }
    }
}