.nav {
    display: none;
    position: absolute;
    top: 15vh;
    padding: 10px 5%;
    width: 90%;
    background: white;
    flex-direction: column;

    @media (min-width: 1024px){
        display: flex;
        position: static;
        padding: 0;
        background: transparent;
        flex-direction: row;
    }

    &-checkbox {
        &:checked {
            &~ nav {
                right: 0;
                display: flex;
            }

            ~ .navicon {
                .navicon__line {
                    &--top {
                        top: 10px;
                        transform: rotate(45deg);
                    }

                    &--middle {
                        opacity: 0;
                    }
    
                    &--bottom {
                        top: 10px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    &__item {
        .fontstyle-01;
        font-size: @fontsizeSmall;
        cursor: pointer;

        @media (min-width: 1024px){
            &::after {
                content: "|";
                margin: 0 10px;
                color: @green;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.navicon {
    position: relative;
    display: flex;
    width: 22px;
    height: 18px;
    flex-direction: column;
    justify-content: space-around;
    transform: rotate(0deg);

    @media (min-width: 1024px){
        display: none;
    }

    &__line {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000000;
        transition: .25s ease-in-out;

        &--top {
            top: 0;   
        }
        &--middle {
            top: 8px;
        }
        &--bottom {
            top: 16px;
        }
    }
}

.is-selected {
    color: @green;
}

.is-shown {
    display: block;
}