.section {
    display: none;
    padding: 0 5%;
    min-height: 85vh;
    background-size: 80%, 100%;
    background-position: right bottom;
    background-repeat: no-repeat; 

    @media (min-width: 768px){
        background-size: 50%, 100%;
        min-height: 90vh;
    }

    @media (min-width: 1024px){
        padding: 0 10%;
        height: 90vh;
    }

    &__wrapper {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;

        @media (min-width: 1024px){
            flex-direction: row;
        }
    }

    &__image {
        margin-bottom: 5vh;
        width: 80%;
        height: 80%;
        order: -1;

        @media (min-width: 768px){
            height: 25vw;
            width: 25vw;
        }
        @media (min-width: 1024px){
            margin-bottom: 0;
            order: initial;
        }

    }

    &__text {
        &::-webkit-scrollbar {
            display: none;
        }

        @media (min-width: 1024px){
            width: 48%;
            max-height:100%;
            /* height: 60%; */
            overflow-y: scroll;
        }

        &--map {
            text-align: center;
            margin-bottom: 50px;
        }
    }

    &__inner {
        display: flex;
        padding-top: 15vh;
        flex-direction: column;
        align-items: center;
        
        @media (min-width: 1024px){
            height: 70vh;
            flex-direction: row;
            justify-content: space-between;
        }

        &--2col {
            align-items: normal;
        }

        &--map {
            display: block;
            text-align: center;
        }
    }

    &__map{
        width: 100%;
        height: 90vw;
        max-height:500px;
        
        @media (min-width: 1024px){
            width: 75%;
            height: 80%;
        }
    }

    &--philosophie {
        background-image: url(../images/philosophy.png), linear-gradient(to left, #dedede, rgba(255, 255, 255, 0));
    }
}